#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url("../img/fancybox_sprite.png");
}
.fancybox-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
#fancybox-loading div {
  background: url('../img/fancybox_loading.gif') center center no-repeat;
}
.fancybox-nav {
  background: transparent url('../img/blank.gif');
  /* helps IE */
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url('../img/fancybox_sprite@2x.png');
  }
  #fancybox-loading div {
    background-image: url('../img/fancybox_loading@2x.gif');
  }
}
.fancybox-image {
  opacity: 1!important;
}
.fancybox-nav {
  top: 50%;
  @include transform(translateY(-50%));
  height: 40%;
}

//Copy to main.scss
.body {
  -webkit-font-smoothing: antialiased;
}
.dark-bg {
    background-color: #171717;
    color: #818181;
}
.white-color {
  color: white;
}
.padder-up {
  padding-top: 100px;
}
.hashtagged {
  text-transform: uppercase;
  cursor: pointer;
  padding: 6px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
.masonry-king {
    margin: 30px 0 0;
    .masonry-brick {
      width: 32%;
      padding-bottom: 10px;
      +.masonry-brick {
        padding-left: 10px;
      }
    }
}
.super-big {
    text-transform: uppercase;
    font-size: 85px;
    margin: 0 0 10px;
}
.tweet-holder {
    background-color: #f4f4f4;
    color: #171717;
    padding: 10px;
    box-shadow: -4px 4px 0px $brand-primary;
    p {
      margin: 0;
    }
}
.item-avatar {
  padding-left: 60px;
  position: relative;
  margin-bottom: 10px;
  .imaged {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #e6e6e6;
    left: 0;
    top: -15px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  h3 {
    margin: 15px 0 0px;
    font-size: 14px;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.text-upper {
    text-transform: uppercase;
}
.primary-color {
  color: $brand-primary;
}
.tweet-img {
    margin: -10px;
    img {
      width: 100%;
    }
}
