.dharma-top-pad {
  padding-top: 70px;
}
.search-in.colorchange {
  color: #838383;
  @include placeholder {
    color: #838383;
  }
}
.f55 {
  font-size: 55px;
}
.dharma-movies-bg {
    background: url(../img/movie-bg.jpg)no-repeat;
    background-size: cover;
}
