@import 'https://fonts.googleapis.com/css?family=Hammersmith+One|Karla:400,700';
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #f37021 !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$white: #ffffff !default;
$black: #171717 !default;
$grey: #6f6f6e !default;
$font-family-sans-serif: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Hammersmith One", Georgia, "Times New Roman", Times, serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    padding-top: 0px;
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
    &:hover{
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
    }
}
/* mixing*/
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin x-appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.navbar {
    margin-bottom: 0;
}
.row-flex {
    @include display(flex);
}
.col-flex {
    @include flex(1);
}
//bootstrap forms
/* Start writing sass here */
.margin0 {
    margin: 0;
}
.padding0 {
    padding: 0;
}
.dh-relative {
    position: relative;
}
.dh-absulate {
    position: absolute;
}
.dh-list {
    ul {
        display: block;
        list-style: none;
        li {
            display: inline-block;
        }
    }
}
.display-inline {
    display: inline-block;
}
.masonry-box {
    width: 340px;
    img {
        width: 100%;
    }
}
.color-primary {
    color: $brand-primary;
}
.color-white {
    color: $white;
}
.color-black {
    color: $black;
}
.color-grey {
    color: $grey;
}
.text-up {
    text-transform: uppercase;
}
.text-cap {
    text-transform: capitalize;
}
.margin-auto {
    margin: 0 auto;
}
.home {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
}
.head-bg {
    background: $brand-primary;
    padding: 5px 60px 0;
    margin: 0 60px;
}
.head-curve {
    background: url(../img/head-curve.png)no-repeat;
    height: 30px;
    background-size: 100% 100%;
    background-position-y: -15px;
    margin: 0 60px;
}
.font-hammersmith {
    font-family: 'Hammersmith One';
}
.font-karla {
    font-family: 'karla';
}
.logo-img {
    width: 180px;
    margin: 0 auto;
    text-align: center;
}
.menu {
    display: inline-block;
}
.navbar-default .navbar-nav > .active > a {
    background-color: transparent !important;
    &:focus {
        outline: 0;
    }
}
.custom-menu {
    li {
        a {
            padding: 0 12px !important;
        }
    }
}
.navbar-nav {
    li {
        a {
            color: $white !important;
        }
        &:focus {
            color: $white !important;
            text-decoration: none;
        }
        &:active {
            color: $white !important;
            text-decoration: none;
        }
    }
}
.mt10 {
    margin-top: 10px;
}
.head-social {
    ul {
        li {
            padding: 0 3px;
            a {
                i {
                    background: rgba(255, 255, 255, 0.66);
                    font-size: 16px;
                    border-radius: 100%;
                    height: 25px;
                    width: 25px;
                    padding: 4px 5px;
                }
            }
        }
    }
}
.mt18 {
    margin-top: 18px;
}
.mt15 {
    margin-top: 15px;
}
.flexslider {
    margin: 0px;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 0px;
    background: rgba(255, 255, 255, 0);
  }
  .home-slider{
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
      opacity: 1;
  }
  .flexslider:hover .flex-direction-nav .flex-next:hover {
      opacity: 1;
  }
    .flex-direction-nav a.flex-next:before {
    content: '';
    background: url("../img/right-arrow.png") no-repeat center;
    width: 57px;
    height: 100px;
}
.flex-direction-nav a.flex-prev:before {
    content: '';
    background: url("../img/left-arrow.png") no-repeat center;
    width: 57px;
    height: 100px;
}
.flex-direction-nav a {
    width: 57px;
    height: 100px;
    opacity: 1 !important;
}
.flex-direction-nav .flex-prev {
    left: 0 !important;
      opacity: 1;
}
.flex-direction-nav .flex-next {
    right: 0 !important;
      opacity: 1;
}
  }
  .dharma-tv-bg{
    background: url(../img/tv-bg.jpg)no-repeat;
    background-size: cover;
        padding: 100px 0px 0px 0px;
  }
.f90{
  font-size: 90px;

}
.line45{
  line-height: 45%;
}
.mt30{
  margin-top: 30px;
}
.text-shadow{
  box-shadow: -30px -30px 70px -20px #000000;
z-index: 999;
position: relative;
}
.middle{
  top: 50%;
left: 50%;
    @include transform(translate(-50%,-50%));
}
.slider-nav{
  .flex-direction-nav a.flex-next:before {
  content: '';
  background: url("../img/right.png") no-repeat center;
  width: 32px;
  height: 55px;
}
.flex-direction-nav a.flex-prev:before {
  content: '';
  background: url("../img/left.png") no-repeat center;
  width: 32px;
  height: 55px;;
}
.flex-direction-nav a {
  width: 32px;
  height: 55px;
  opacity: 1 !important;
}
.flex-direction-nav .flex-prev {
    left: -50px !important;
      opacity: 1;
}
.flex-direction-nav .flex-next {
    right:-50px !important;
      opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
    left: -50px !important;
    outline: 0;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    right: -50px !important;
    outline: 0;
}
.flex-control-nav{
  display: none;
}
}
@import "fancybox-override";
