@import 'https://fonts.googleapis.com/css?family=Hammersmith+One|Karla:400,700';
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #f37021 !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$white: #ffffff !default;
$black: #171717 !default;
$grey: #6f6f6e !default;
$dark-black: #383838 !default;
$font-family-sans-serif: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Hammersmith One", Georgia, "Times New Roman", Times, serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    padding-top: 0;
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
        outline: 0;
    }
}
/* mixing*/
@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
.navbar {
    margin-bottom: 0;
}
.row-flex {
    @include display(flex);
}
.col-flex {
    @include flex(1);
}
//bootstrap forms
/* Start writing sass here */
.margin0 {
    margin: 0;
}
.padding0 {
    padding: 0;
}
.dh-relative {
    position: relative;
}
.dh-absulate {
    position: absolute;
}
.dh-list {
    ul {
        display: block;
        list-style: none;
        li {
            display: inline-block;
        }
    }
}
.display-inline {
    display: inline-block;
}
.masonry-box {
    width: 300px;
    img {
        width: 100%;
    }
}
.color-primary {
    color: $brand-primary;
}
.color-white {
    color: $white;
}
.color-black {
    color: $black;
}
.color-grey {
    color: $grey;
}
.text-up {
    text-transform: uppercase;
}
.text-cap {
    text-transform: capitalize;
}
.margin-auto {
    margin: 0 auto;
}
.home {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
}
.head-bg {
    background: $brand-primary;
    padding: 5px 60px 0;
    margin: 0 60px;
}
.head-curve {
    background: url(../img/head-curve.png)no-repeat;
    height: 30px;
    background-size: 100% 100%;
    background-position-y: -15px;
    margin: 0 60px;
}
.font-hammersmith {
    font-family: 'Hammersmith One';
}
.font-karla {
    font-family: 'karla';
}
.logo-img {
    width: 180px;
    margin: 0 auto;
    text-align: center;
}
.menu {
    display: inline-block;
}
.navbar-default .navbar-nav > .active > a {
    background-color: transparent !important;
    &:focus {
        outline: 0;
    }
}
.custom-menu {
    li {
        a {
            padding: 0 12px !important;
        }
    }
}
.navbar-nav {
    li {
        a {
            color: $white !important;
        }
        &:focus {
            color: $white !important;
            text-decoration: none;
        }
        &:active {
            color: $white !important;
            text-decoration: none;
        }
    }
}
.mt10 {
    margin-top: 10px;
}
.head-social {
    ul {
        li {
            padding: 0 3px;
            a {
                i {
                    background: rgba(255, 255, 255, 0.66);
                    font-size: 16px;
                    border-radius: 100%;
                    height: 25px;
                    width: 25px;
                    padding: 4px 5px;
                }
            }
        }
    }
}
.mt18 {
    margin-top: 18px;
}
.mt15 {
    margin-top: 15px;
}
.flexslider {
    margin: 0;
    border: 0 solid rgba(255, 255, 255, 0);
    border-radius: 0;
    background: rgba(255, 255, 255, 0);
}
.home-slider {
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-next:hover {
        opacity: 1;
    }
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/right-arrow.png") no-repeat center;
        width: 57px;
        height: 100px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/left-arrow.png") no-repeat center;
        width: 57px;
        height: 100px;
    }
    .flex-direction-nav a {
        width: 57px;
        height: 100px;
        opacity: 1 !important;
    }
    .flex-direction-nav .flex-prev {
        left: 0 !important;
        opacity: 1;
    }
    .flex-direction-nav .flex-next {
        right: 0 !important;
        opacity: 1;
    }
    .flex-control-nav {
        bottom: 60px;
        z-index: 99;
    }
    .flex-control-paging li a.flex-active {
        background: #fff;
    }
    .flex-control-paging li a {
        background: rgba(255, 255, 255, 0.5);
    }
}
.dharma-tv-bg {
    background: url(../img/tv-bg.jpg)no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.f90 {
    font-size: 90px;
}
.line45 {
    line-height: 45%;
}
.mt30 {
    margin-top: 30px;
}
.text-shadow {
    box-shadow: -30px -30px 70px -20px #000000;
    z-index: 999;
    position: relative;
}
.middle {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}
.slider-nav {
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/right.png") no-repeat center;
        width: 32px;
        height: 55px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/left.png") no-repeat center;
        width: 32px;
        height: 55px;
    }
    .flex-direction-nav a {
        width: 32px;
        height: 55px;
        opacity: 1 !important;
    }
    .flex-direction-nav .flex-prev {
        left: -50px !important;
        opacity: 1;
    }
    .flex-direction-nav .flex-next {
        right: -50px !important;
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 1;
        left: -50px !important;
        outline: 0;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 1;
        right: -50px !important;
        outline: 0;
    }
    .flex-control-nav {
        display: none;
    }
}
.btn-grey {
    @include button-variant($grey, transparent, $grey);
    border: 2px solid $grey;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($black, $grey, $grey);
        border: 2px solid $grey;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.btn-primary {
    @include button-variant($white, $brand-primary, $brand-primary);
    border: 2px solid $brand-primary;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($brand-primary, transparent, $brand-primary);
        border: 2px solid $brand-primary;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.btn-primary-outline {
    @include button-variant($brand-primary, transparent, $brand-primary);
    border: 2px solid $brand-primary;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($white, $brand-primary, $brand-primary);
        border: 2px solid $brand-primary;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.btn-padding {
    padding: 7px 20px 4px;
}
.btn-enter {
    padding: 7px 30px 5px;
}
.mt40 {
    margin-top: 40px;
}
.subscribe {
    background: #fff;
    margin: -45px 80px 0;
    padding: 0 50px;
    position: relative;
}
.up-img {
    margin-top: -25px;
    vertical-align: top;
}
.mt20 {
    margin-top: 20px;
}
.sub-input {
    input {
        background: #f1f1f1;
        border-color: #f1f1f1;
        height: 50px;
    }
}
.go-btn {
    button {
        border: none;
        font-size: 30px;
        &:hover {
            border: none;
            color: $brand-primary;
            background: transparent;
        }
    }
}
.bg-sun {
    background: url(../img/dharma-sun.png)no-repeat $brand-primary;
    background-position: left top;
    margin-top: -66px;
    padding: 215px 0 60px 215px;
}
.f12 {
    font-size: 12px;
}
.video-desc {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.slider-right {
    .flexslider {
        padding-bottom: 70px;
    }
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/right-white.png") no-repeat center;
        width: 32px;
        height: 55px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/left-white.png") no-repeat center;
        width: 32px;
        height: 55px;
    }
    .flex-direction-nav a {
        width: 32px;
        height: 55px;
        // opacity: 1 !important;
    }
    .flex-direction-nav .flex-prev {
        right: 74px !important;
        opacity: 1;
        left: inherit;
    }
    .flex-direction-nav .flex-next {
        right: 30px !important;
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        // opacity: 1;
        right: 74px !important;
        outline: 0;
        left: inherit;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        // opacity: 1;
        right: 30px !important;
        outline: 0;
    }
    .flex-control-nav {
        display: none;
    }
    .flex-direction-nav a {
        bottom: 0;
        top: inherit;
    }
}
.top-right {
    top: 0;
    right: 0;
}
.bottom-left {
    bottom: 0;
}
.dharma-title-bg {
    background: url(../img/dharma-title-bg.jpg)no-repeat;
    background-size: cover;
    padding: 200px 0 50px;
}
.footer-data {
    ul {
        li {
            border-right: 1px solid #b2b2b2;
            padding: 0 6px;
            line-height: 100%;
            &:last-child {
                border: none;
            }
            a {
                color: #b2b2b2;
            }
        }
    }
}
.footer {
    background-color: $black;
    padding: 20px 0;
}
.footer-social {
    ul {
        li {
            padding: 0 5px;
            a {
                i {
                    font-size: 22px;
                    background: #424242;
                    height: 35px;
                    width: 35px;
                    color: $black;
                    border-radius: 100%;
                    padding: 6px;
                }
            }
        }
    }
}
.copy {
    p {
        color: #b2b2b2;
        margin: 0;
    }
}
.img-pads {
    background: #fff;
    padding: 10px;
    margin: 5px;
    box-shadow: 4px 4px 10px 1px #dcdcdc;
}
.movie-names {
    h4 {
        text-align: left;
        padding-left: 10px;
    }
}
.movie-tab {
    width: 100%;
    bottom: -20px;
    z-index: 99;
    .btn-group {
        .btn {
            float: none;
            color: $brand-primary;
            background: #000;
            border: none;
            font-size: 25px;
            padding: 9px 70px;
            font-family: 'Hammersmith One';
            &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            &:active {
                outline: 0;
            }
            &:focus {
                outline: 0;
            }
        }
    }
    .active-tab {
        background: $brand-primary !important;
        color: $white !important;
    }
}
.pos-bottom {
    position: absolute;
    bottom: -42px;
}
.mr2 {
    margin-right: -2px;
}
.tab-active {
    padding: 70px 0 80px;
}
.movie-inside-curve {
    background: url(../img/movie-inside-bg.png)no-repeat;
    height: 20px;
    margin-top: -37px;
    z-index: 99;
    position: relative;
    background-size: 100% 100%;
}
.movie-inside-bg {
    background: url("../img/movie-banner-bg.jpg");
    padding: 0 60px;
}
.width100 {
    width: 100%;
}
.movie-inner-bg {
    background-color: #fff;
    position: relative;
}
.f26 {
    font-size: 26px;
}
.ply-post {
    right: 0;
    bottom: 0;
}
.movie-inside-date {
    padding-left: 50px;
    padding-right: 50px;
}
.all-tabs {
    background: url(../img/tab-bg.png)no-repeat;
    background-size: 100% 100%;
    padding: 10px 0 24px;
    margin: 25px 35px 0 -17px;
    position: relative;
}
.all-tabs {
    .btn-group {
        button {
            background: transparent;
            border: none;
            text-transform: uppercase;
            font-family: 'Hammersmith One';
            font-size: 22px;
            padding: 0 30px;
            &:first-child {
                padding-left: 52px;
            }
            &:focus {
                outline: 0;
            }
            &:active {
                outline: 0;
            }
        }
        .active-list {
            color: $white;
        }
    }
}
.bg-synopsis {
    background: url(../img/main2.png)no-repeat;
    background-size: contain;
    background-position: right bottom;
    padding-top: 20px;
    padding-bottom: 30px;
}
.cast {
    h1 {
        font-size: 40px;
        color: $dark-black;
    }
}
.cast-box {
    height: 140px;
    width: auto;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
.color-dark {
    color: $dark-black;
}
.font-bold {
    font-weight: 700;
}
.f18 {
    font-size: 18px;
}
.cast-credit {
    padding-top: 20px;
    padding-bottom: 60px;
}
.mt60 {
    margin-top: 60px;
}
.box-pad {
    padding-bottom: 50px;
    border-bottom: 2px solid #b0b0b0;
}
.pt50 {
    padding-top: 50px;
}
.all-cast {
    ul {
        li {
            list-style: none;
            font-size: 18px;
            line-height: 240%;
            color: $dark-black;
        }
    }
}
.bg-cast {
    background: url(../img/main2.jpg)no-repeat;
    background-position: right bottom;
}
.social-share {
    border: 2px solid #ececec;
    border-radius: 52px;
    display: inline-block;
    padding: 20px 8px;
    ul {
        text-align: center;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 0;
        li {
            a {
                i {
                    background: #c6c6c6;
                    color: $white;
                    font-size: 20px;
                    height: 35px;
                    width: 35px;
                    padding: 8px 5px;
                    border-radius: 100%;
                    margin: 10px 0;
                }
            }
        }
    }
}
.color-light-grey {
    color: #838383;
}
.padd20 {
    padding: 0 10px;
}
.masonry-width {
    .masonry-box {
        width: 310px;
    }
}
.masonry-brick {
    margin-bottom: 10px;
}
.overlay {
    height: 100%;
    width: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    .pos-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}
.pad5 {
    padding: 5px;
}
.custom-tabs {
    button {
        background: transparent;
        color: #838383;
        line-height: 100%;
        &:focus {
            outline: 0;
        }
        &:active {
            outline: 0;
        }
        &:hover {
            color: $brand-primary;
        }
        &:first-child {
            border-right: 2px solid #838383;
        }
    }
    .btn {
        &:active {
            outline: 0;
            background-image: none;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
        }
    }
    .active-list {
        color: $brand-primary;
    }
}
.desktop {
    .download {
        top: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.55);
        width: 100%;
        display: none;
        @include transition(all 0.3s ease-in-out);
        a {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            width: 100%;
            text-align: center;
        }
    }
}
.all-wall {
    &:hover {
        .download {
            display: block;
        }
    }
}
.dark-black {
    color: $dark-black;
    &:focus{
      outline:0;
    }
}
.movie-award {
    .panel {
        background-color: transparent;
        border: 0 solid transparent;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
        .panel-heading {
            color: #333333;
            background-color: transparent;
            border-color: transparent;
            padding: 8px 15px;
                border-bottom: 3px solid #ddd;
                &:focus{
                  outline: 0;
                }
        }
        .panel-body{
          border-top: 0px solid #ddd !important;
        }
    }
}
.list-none{
  list-style: none;
}
.awards-name{
  ul{
    li {
      font-size: 16px;
      line-height: 200%;

  }
  }
}
.line0{
  line-height: 0;
}
.pl10{
      padding-left: 10px;
}
@import "fancybox-override";
