<div class="dark-bg padder-up">
    <div class="container">
        <div class="text-center white-color">
            <h1 class="super-big font-hammersmith">Dharma &amp; You</h1>
            <p class="descriptive">Got a question for someone at Dharma, ask them yourself!
                <br>You heard it here first.</p>
            <button class="btn btn-primary btn-grand btn-outline font-hammersmith text-upper" ng-click="openModal()">HAVE A QUESTION FOR THE TEAM AT DHARMA? CLICK HERE</button>
        </div>

        <div class="dharma-you">
            <div class="masonry-king">
                <div masonry>
                    <div class="masonry-brick" ng-repeat="t in posts">
                        <div class="tweet-holder">
                            <div class="item-avatar">
                                <div class="imaged" style="background-image: url('{{t.userImg}}');"></div>
                                <h3 class="text-upper primary-color">{{t.name}}</h3>
                            </div>
                            <p class="quest">Q: {{t.quest}}</p>
                            <p>{{t.day}} | {{t.time}}</p>
                            <div class="pady-bot"></div>
                            <div class="answer-repeat">
                                <div class="item-avatar">
                                    <div class="imaged" style="background-image: url('{{t.userImg}}');"></div>
                                    <h3 class="text-upper primary-color">{{t.name}}</h3>
                                </div>
                                <p class="anst">{{t.answer}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
