<div class="dark-bg insta-bg padder-up">
    <div class="container">

        <div class="dharma-insta">
            <div class="text-center white-color">
                <h1 class="super-big font-hammersmith">Dharma Insta</h1>
                <p class="descriptive">Lorem Ipsum is simply dummy text of the printing and typesetting
                    <br>industry.</p>

                <h2 class="primary-color text-upper font-hammersmith mter">Contest 01</h2>
                <p>Upload a video enacting SRK’S Signature move with the #dharmainstapose.
                    <br>5 lucky winners will get a chance to win Dharma Merchandise.</p>

                <div class="insta-tv-box">
                    <div class="tv-img" style="background-image: url('img/srk-pose.jpg')"></div>
                    <img src="img/play-btn.jpg" class="center-in">
                    <img src="img/tv-box.png" class="full-image">
                </div>

                <h2 class="primary-color text-upper font-hammersmith">#DHARMAINSTAPOSE</h2>
                <p>Shortlisted Entries</p>
            </div>

            <div class="masonry-king">
                <div masonry>
                    <div class="masonry-brick" ng-repeat="t in myPosts" ng-if="t.status==true">
                      <div class="relative top-padder">
                      <div class="text-center">
                          <img src="img/tv-antena.png" class="antena-top">
                      </div>
                        <div class="tweet-img" ng-if="t.thumbnail">
                          <div class="blackoverlay"></div>
                            <img ng-src="{{t.thumbnail}}">
                            <img src="img/play-btn.jpg" class="center-in">
                        </div>
                      </div>
                        <div class="tweet-holder">

                            <div class="item-avatar">
                                <div class="imaged" style="background-image: url('{{t.userImg}}');"></div>
                                <h3>
                                    <span class="text-upper primary-color">{{t.name}}</span>@{{t.name}}</h3>
                                <span>{{t.timeStamp|date:'MMM d'}}
                                    |
                                    {{t.timeStamp|date:'h:mm a'}}</span>
                            </div>
                            <div class="post-holder">
                                {{t.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
