<section>
    <div class="dharma-journey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="head-title news-search">
                            <h1 class="color-white f120 text-up font-hammersmith margin0">DHARMA JOURNEY</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="head-title">
                            <p class="color-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <section>
<div class="dh-relative">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-center">
                  <div class="timline-head">
                      <div class="dh-absulate middle">
                          <h1 class="color-white f120 text-up font-hammersmith margin0">2016</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

            <div class="main-section">
              <div class="side-wall">
                <div class="date-list">
                  <h4>2016</h4>
                  <div class="dot-big"></div>
                </div>
                <div class="dot-small"></div>
                <div class="dot-small2"></div>
                <div class="dot-small3"></div>
                <div class="dot-small4"></div>
                <div class="dot-small5"></div>
                <div class="dot-small6"></div>
                <div class="dot-small7"></div>
                <div class="border-btm"></div>
              </div>
                <div class="top-circle">
                    <div class="dot"></div>
                </div>
                <section id="cd-timeline" class="cd-container">
                    <div class="timline-grp">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">

                            </div>
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <div class="row">
                                    <div class="col-md-6 pr0">
                                        <div class="img-timline-box">
                                            <img src="img/t1.jpg" alt="Dharma Productions" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl0">
                                        <div class="contents">
                                            <p>Most successful Indian film in the International Markets
                                            </p>
                                            <span>12 Nov 2015</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">

                            </div>
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <div class="row">
                                    <div class="col-md-6 pr0">
                                        <div class="contents">
                                            <p>Best Playback Singer (Female) : Shreya Ghoshal - Bahara
                                            </p>
                                            <span>03 Aug 2015</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl0">
                                        <div class="img-timline-box2">
                                            <img src="img/t2.jpg" alt="Dharma Productions" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">

                            </div>
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="contents">
                                            <p>My Name is Khan has gone down in history as the most successful Indian film in the international markets
                                            </p>
                                            <span>12 Nov 2015</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">

                            </div>
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="contents">
                                            <p>Best Director: Ayan Mukerji for YJHD
                                            </p>
                                            <span>03 Aug 2015</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="img-timline-box2">
                                            <img src="img/t3.jpg" alt="Dharma Productions" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                    </div>
                </section>
                <div class="top-circle">
                    <div class="dot"></div>
                </div>
            </div>
            </div>
            <!-- cd-timeline -->
        </section>
        <section>
<div class="dh-relative">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-center">
                  <div class="timeline-head2">
                      <div class="dh-absulate middle">
                          <h1 class="color-white f120 text-up font-hammersmith margin0">2015</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

            <div class="main-section">
                <div class="top-circle">
                    <div class="dot"></div>
                </div>
                <section id="cd-timeline" class="cd-container">
                    <div class="timline-grp">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">

                            </div>
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <div class="row">
                                    <div class="col-md-6 pr0">
                                        <div class="img-timline-box">
                                            <img src="img/t1.jpg" alt="Dharma Productions" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl0">
                                        <div class="contents">
                                            <p>Most successful Indian film in the International Markets
                                            </p>
                                            <span>12 Nov 2015</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">

                            </div>
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <div class="row">
                                    <div class="col-md-6 pr0">
                                        <div class="contents">
                                            <p>Best Playback Singer (Female) : Shreya Ghoshal - Bahara
                                            </p>
                                            <span>03 Aug 2015</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl0">
                                        <div class="img-timline-box2">
                                            <img src="img/t2.jpg" alt="Dharma Productions" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">

                            </div>
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="contents">
                                            <p>My Name is Khan has gone down in history as the most successful Indian film in the international markets
                                            </p>
                                            <span>12 Nov 2015</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">

                            </div>
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="contents">
                                            <p>Best Director: Ayan Mukerji for YJHD
                                            </p>
                                            <span>03 Aug 2015</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="img-timline-box2">
                                            <img src="img/t3.jpg" alt="Dharma Productions" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                    </div>
                </section>
                <div class="top-circle">
                    <div class="dot"></div>
                </div>
            </div>
            </div>
            <!-- cd-timeline -->
        </section>
    </div>
</section>
