<section>
  <div class="dharma-tv-bg">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <div class="head-title">
              <h1>DhARMA TV</h1>
          </div>
          <div class="search-movie ">
              <input type="search" name="name" value="">
          </div>
        </div>
        <div class="video-player">
          <div class="video-play">
            <img src="img/video-play.jpg" alt="Dharma Productions" class="img-responsive"/>
            <div class="play-btn text-center">
              <img src="img/play-btn.jpg" alt="Dharma Productions">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="upcoming-movie">
                <div class="title">
                    <h1>BAAHUBALI</h1>
                </div>
                <div class="upcoming-slider">
                    <flex-slider flex-slide="item in video track by $index" animation="slide" item-width="205" item-margin="25" animationloop="true" move="1">
                        <li>
                            <div class="video-box">
                                <div class="video-slide-img">
                                    <a ui-sref="tv-inside"><img ng-src="{{item.img}}" alt="Dharma Productions"></a>
                                </div>
                                <div class="video-name">
                                    <span>{{item.name}}</span>
                                </div>


                            </div>
                        </li>
                    </flex-slider>
                </div>
                <div class="pull-right">
                  <div class="btn-outline">
                    <button type="button" name="button">view all</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="upcoming-movie">
                <div class="title">
                    <h1>KAPOOR & SONS</h1>
                </div>
                <div class="upcoming-slider">
                    <flex-slider flex-slide="item in video track by $index" animation="slide" item-width="205" item-margin="25" animationloop="true" move="1">
                        <li>
                            <div class="video-box">
                                <div class="video-slide-img">
                                    <img ng-src="{{item.img}}" alt="Dharma Productions">
                                </div>
                                <div class="video-name">
                                    <span>{{item.name}}</span>
                                </div>


                            </div>
                        </li>
                    </flex-slider>
                </div>
                <div class="pull-right">
                  <div class="btn-outline">
                    <button type="button" name="button">view all</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="upcoming-movie">
                <div class="title">
                    <h1>Brothers</h1>
                </div>
                <div class="upcoming-slider">
                    <flex-slider flex-slide="item in video track by $index" animation="slide" item-width="205" item-margin="25" animationloop="true" move="1">
                        <li>
                            <div class="video-box">
                                <div class="video-slide-img">
                                    <img ng-src="{{item.img}}" alt="Dharma Productions">
                                </div>
                                <div class="video-name">
                                    <span>{{item.name}}</span>
                                </div>


                            </div>
                        </li>
                    </flex-slider>
                </div>
                <div class="pull-right">
                  <div class="btn-outline">
                    <button type="button" name="button">view all</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="upcoming-movie">
                <div class="title">
                    <h1>Hasee Toh Phasee</h1>
                </div>
                <div class="upcoming-slider">
                    <flex-slider flex-slide="item in video track by $index" animation="slide" item-width="205" item-margin="25" animationloop="true" move="1">
                        <li>
                            <div class="video-box">
                                <div class="video-slide-img">
                                    <img ng-src="{{item.img}}" alt="Dharma Productions">
                                </div>
                                <div class="video-name">
                                    <span>{{item.name}}</span>
                                </div>


                            </div>
                        </li>
                    </flex-slider>
                </div>
                <div class="pull-right">
                  <div class="btn-outline">
                    <button type="button" name="button">view all</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="text-center">
        <div class="btn-outline">
          <button type="button" name="button">view all</button>
        </div>
      </div>
    </div>
  </div>
</section>
