<section>
    <div class="home-slider dh-relative">
        <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
            <li><img ng-src="{{s}}" alt="Dharma Productions" ui-sref="movie-inside"></li>
        </flex-slider>
        <div class="movie-tab text-center dh-absulate dh-list">
            <!-- <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default mr2 {{classp}}" ng-click="tabchanges('upcoming',1)">UPCOMING</button>
                <button type="button" class="btn btn-default {{classv}}" ng-click="tabchanges('released',2)">RELEASED</button>

            </div> -->
            <ul class="padding0 margin0">
              <li class="mr2 {{classp}} font-hammersmith" ng-click="tabchanges('upcoming',1)"><h1 class="margin0">UPCOMING</h1></li>
              <li class="{{classv}} font-hammersmith" ng-click="tabchanges('released',2)"><h1 class="margin0">RELEASED</h1></li>
            </ul>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="tab-active">


            <div class="upcoming" ng-if="tabs=='upcoming'">
                <div class="row-flex text-center">
                    <div class="col-flex" ng-repeat="item in movie track by $index">
                        <div class="img-pads">
                            <img ng-src="{{item.img}}" alt="Dharma Productions" class="img-responsive">
                        </div>
                        <div class="movie-names">
                            <h4 class="text-up color-grey">{{item.name}}</h4>
                        </div>
                    </div>
                </div>
                <div class="btn-view-more pull-right mt15">
                    <a href="" class="btn-1 font-hammersmith btn">
                        <svg>
                            <rect x="0" y="0" fill="none" width="100%" height="100%" />
                        </svg>
                        VIEW ALL
                    </a>
                    <!-- <button type="button" name="button" class="btn-primary-outline font-hammersmith btn-enter"></button> -->
                </div>
            </div>
            <div class="release" ng-if="tabs=='released'">
                <div class="row-flex text-center">
                    <div class="col-flex" ng-repeat="item in movie track by $index">
                        <div class="img-pads">
                            <img ng-src="{{item.img}}" alt="Dharma Productions" class="img-responsive">
                        </div>
                        <div class="movie-name">
                            <h4 class="text-up color-grey">{{item.name}}</h4>
                        </div>
                    </div>
                </div>
                <div class="btn-view-more pull-right mt15">
                    <button type="button" name="button" class="btn-primary-outline font-hammersmith btn-enter">VIEW ALL</button>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="dh-relative">
    <div class="dharma-tv-bg">
        <div class="container">
            <div class="row">
                <div class="dharma-title pull-right titles mt30">
                    <h1 class="margin0 color-primary font-hammersmith line45 f90">DHARMA TV</h1>
                </div>
            </div>
            <div class="row">
                <div class="video-play text-shadow">
                    <img src="img/video-play.jpg" alt="Dharma Productions" class="img-responsive" />
                    <div class="play-btn text-center dh-absulate middle">
                        <a href=""> <img src="img/play-btn.jpg" alt="Dharma Productions"></a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="video-slider slider-nav mt30">
                        <flex-slider flex-slide="item in video track by $index" animation="slide" item-width="300" item-margin="0" animationloop="true" move="1">
                            <li>
                                <a href="">
                                    <div class="video-box">
                                        <div class="video-slide-img">
                                            <img ng-src="{{item.img}}" alt="Dharma Productions">
                                        </div>
                                        <div class="video-names mt10">
                                            <span class="color-white">{{item.name}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </flex-slider>
                        <div class="text-center btn-view-more mt40">
                            <button type="button" name="button" class="btn-grey font-hammersmith btn-padding">VIEW ALL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="pos-bottom ">
        <div class="container-fluid">
            <div class="subscribe">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="display-inline up-img">
                            <img src="img/subscribe.png" alt="Dharma Productions" class="img-responsive">
                        </div>
                        <div class="sub-text display-inline mt20">
                            <h3 class="font-hammersmith color-primary text-up margin0">SUBSCribe NOW </h3>
                            <h3 class="font-hammersmith color-primary text-up margin0">for MORE UPDATES</h3>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="sub-input mt20">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email">
                                <span class="input-group-btn go-btn">
          <button class="btn btn-default color-primary font-hammersmith" type="button">Go</button>
        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>

<section class="bg-sun">

    <div class="news">
        <div class="title">
            <h1 class="f90 font-hammersmith color-white margin0 line45">NEWS</h1>
        </div>
        <div class="news-slider slider-right">
            <flex-slider flex-slide="item in news track by $index" animation="slide" item-width="300" item-margin="60" animationloop="true" move="1">
                <li>
                    <a href="">
                        <div class="video-box ">
                            <div class="video-slide-img">
                                <img ng-src="{{item.img}}" alt="Dharma Productions">
                            </div>
                            <div class="video-name mt20">
                                <h4 class="color-white margin0">{{item.name}}</h4>
                            </div>
                            <div class="video-date">
                                <span class="color-black f12">{{item.date}}</span>
                            </div>
                            <div class="video-desc mt15 ">
                                <p class="color-black">{{item.desc}}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </flex-slider>
        </div>
    </div>
</section>
<section>
    <div class="dhrarma-world dh-relative">
        <img src="img/news-bg.jpg" alt="" class="img-responsive">
        <div class="container dh-absulate middle">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <div class="dharma-world-text text-center">
                        <div class="text-center">
                            <img src="img/dharma-img.png" alt="Dharma Productions" class="img-responsive margin-auto">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="pad-inner">
                        <p class="color-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        <div class="solid-btn text-center mt20">
                            <button type="button" name="button" class="btn-primary font-hammersmith btn-enter">ENTER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-right dh-absulate">
            <img src="img/top-right.png" alt="">
        </div>
        <div class="bottom-left dh-absulate">
            <img src="img/bottom-left.png" alt="">
        </div>
    </div>
</section>
<section>
    <div class="dharma-title-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-6">
                    <div class="title">
                        <h1 class="color-primary font-hammersmith f90 line45">LET’S TALK</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="maps dh-relative">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.4068059855495!2d72.83437931533634!3d19.13366215512864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c90c2ccd1d8d%3A0xf30ad9209654b0b4!2sDharma+Productions!5e0!3m2!1sen!2sin!4v1467452593010"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
        <div class="container">
            <div class="row">
                <div class="">


                    <div class="know dh-relative">
                        <div class="solid-btn mt30 dh-relative">
                            <button type="button" name="button" class="btn-primary font-hammersmith btn-enter text-up ">know more</button>

                        </div>
                        <div class=" dh-absulate add-show">
                            <h4>  Dharma Productions Pvt Ltd,</h4>

                            <div class="mt15">
                                <p>Unit No 201& 202 ,2nd Floor, Supreme Chambers,</p>
                                <p>Off Veera Desai Road,17/18 Shah Industrial Estate,</p>
                                <p>Andheri (W), Mumbai- 400053,</p>
                                <p>India</p>
                            </div>

                            <span class="mt30">Tel No :- +91 22 61790100</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
