<section>
<div class="abt-banner">
<div class="container">
  <div class="row">
    <div class="head-title text-center top-pad-abt">
        <h1 class="color-white f120 text-up font-hammersmith">about us</h1>
    </div>
  </div>
  <div class="row">
    <div class="main-about-sec">
          <div class="movie-inside-curve" id="top-scroll"></div>
            <div class="movie-inner-bg">
            <div class="movie-inside-date">
              <div class="text-center pt15">
                <h3 class="color-primary font-bold text-up margin0">Heart-warming storylines...</h3>
                <h3 class="color-primary font-bold text-up margin0">Stellar megastar casts...</h3>
                <h3 class="color-primary font-bold text-up margin0">Record box-office collections...</h3>
              </div>
              <div class="data-abt mt15">
                <p>
                  These are what make up our celluloid dreams at Dharma Productions. Enrapturing audiences all around the world, our films have raked in success for the company and its associates.
                </p>
                <p>
                  Established by Late Shri Yash Johar in 1976, Dharma Productions endeavor has always been to produce high quality cinema that is
accepted and appreciated by audiences across the world. Soon after its inception, Dharma Productions became a buzzword for stellar productions such as 'Dostana', 'Duniya', 'Muqaddar Ka Faisla', 'Agneepath' and 'Gumrah'.
                </p>
                <p>
                Dharma's reputation as a clean, honest company grew with each of these films and helped build a tremendous amount of goodwill within the fraternity and outside of it.</p>
                <p>
                  What followed next was cinematic history from Dharma Productions.
                </p>
                <p>
                  With a clear vision of how he wanted to nurture Dharma Productions, Karan Johar embarked on producing films with independent
directors under his banner. Karan also embarked on a journey to actively nurture young directors. To give them a voice and to make their kind of cinema...cinema for the young, by the young. His protégés went on to create a world within a world...with beautiful stories told.
                </p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>
</section>
