<section>
  <div class="dharma-tv-bg">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <div class="head-title">
              <h1>DhARMA TV</h1>
          </div>
          <div class="search-movie ">
              <input type="search" name="name" value="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="tv-inside">
          <div class="title">
              <h1>BAAHUBALI</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" ng-repeat="item in allvideos track by $index">
            <div class="tv-box">
              <a href=""><img ng-src="{{item.img}}" alt="Dharma Productions" class="img-responsive"></a>
              <div class="movie-title">
                <span>{{item.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="border-left">
          <h4>OTHER MOVIES</h4>
          <ul>
            <li>Kapoor & Sons</li>
            <li>Brothers</li>
            <li>Hasee Toh Phasee</li>
            <li>Ungli</li>
            <li>Humpty Sharma Ki Dulhania</li>
            <li>Gori Tere Pyaar Mein!</li>
            <li>Student of the Year</li>
            <li>Agneepath</li>
            <li>Gippi</li>
            <li>Kal Ho Naa Ho</li>
            <li>Kuch Kuch Hota Hai</li>
            <li>Kabhi Alvida Naa Kehna</li>
            <li>Kabhi Khushi Kabhie Gham</li>
            <li>Duplicate</li>
            <li>Dostana</li>

          </ul>
          <a href="">See More</a>
        </div>
      </div>
    </div>
  </div>
</section>
