<header class="home">
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid mob-pad0">
      <div class="head-bg">
        <div class="row">
          <div class="col-md-2 text-center col-sm-2">
            <div class="logo">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="" ui-sref="home"><img src="img/logo.png" alt="Dharma Productions" class="img-responsive logo-img"></a>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="collapse navbar-collapse text-center" id="nav-collapse">
                   <div ng-include="template.menu" class="template menu"></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 hidden-xs">
            <div class="head-social dh-list pull-right mt15 m24-mob">
              <ul class="padding0 margin0">
                <li>
                  <a href="https://www.facebook.com/DharmaProductions/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href=" https://twitter.com/DharmaMovies" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/c/dharmamovies" target="_blank"><i class="fa fa-youtube"></i></a>
                </li>
                <!-- <li>
                  <a href=""><button type="button" name="button" class="my-main-btn"><img src="img/search-light.png" alt=""></button></a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
<div class="head-curve">
</div>


    </div>
</nav>
</header>


<div class="loaderHeader" ng-show="template.isLoader">
  <img src="img/loadingdharma.gif" alt="" />
</div>
