<div class="white-orange-bg">
  <div class="closure" ng-click="$dismiss()"><i class="fa fa-close"></i></div>
<div class="row">
  <div class="main-sub">


  <div class="col-md-4">
    <div class="shr-img text-c-m">
      <img src="img/subscribe.png" alt="Dharma Productions" class="img-responsive">
    </div>
  </div>
  <div class="col-md-8">
    <div class="main-msg text-c-m">
      <h3 class="color-primary text-up margin0 font-bold">HEY THERE,</h3>
      <h5 class="text-up color-grey margin0">THANKS FOR SUBSCRIBING! STAY UPDATE WITH ALL THE BEST LATEST ON-GOINGS AT DHARMA PRODUCTIONS. WE PROMISE YOUR INBOX WON'T BE DISAPPOINTED.</h5>
    </div>
  </div>
    </div>
</div>
</div>
